/* Poppins */
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"),
    url("@/assets/fonts/Poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("@/assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("@/assets/fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("@/assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("@/assets/fonts/Poppins/Poppins-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("@/assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("@/assets/fonts/Poppins/Poppins/Poppins-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("@/assets/fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"),
    url("@/assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("@/assets/fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("@/assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("@/assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("@/assets/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
    url("@/assets/fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("@/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"),
    url("@/assets/fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin"), local("Poppins-Thin"),
    url("@/assets/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
    url("@/assets/fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Fira Sans */
@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Light"), local("FiraSans-Light"),
    url("@/assets/fonts/FiraSans/FiraSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans SemiBold Italic"), local("FiraSans-SemiBoldItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Bold Italic"), local("FiraSans-BoldItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans ExtraBold Italic"), local("FiraSans-ExtraBoldItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-ExtraBoldItalic.ttf")
      format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Light Italic"), local("FiraSans-LightItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Regular"), local("FiraSans-Regular"),
    url("@/assets/fonts/FiraSans/FiraSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans SemiBold"), local("FiraSans-SemiBold"),
    url("@/assets/fonts/FiraSans/FiraSans/FiraSans-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Medium Italic"), local("FiraSans-MediumItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans ExtraLight Italic"), local("FiraSans-ExtraLightItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-ExtraLightItalic.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans ExtraLight"), local("FiraSans-ExtraLight"),
    url("@/assets/fonts/FiraSans/FiraSans-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Medium"), local("FiraSans-Medium"),
    url("@/assets/fonts/FiraSans/FiraSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans ExtraBold"), local("FiraSans-ExtraBold"),
    url("@/assets/fonts/FiraSans/FiraSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Italic"), local("FiraSans-Italic"),
    url("@/assets/fonts/FiraSans/FiraSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Black Italic"), local("FiraSans-BlackItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Bold"), local("FiraSans-Bold"),
    url("@/assets/fonts/FiraSans/FiraSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Black"), local("FiraSans-Black"),
    url("@/assets/fonts/FiraSans/FiraSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Thin"), local("FiraSans-Thin"),
    url("@/assets/fonts/FiraSans/FiraSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: local("FiraSans Thin Italic"), local("FiraSans-ThinItalic"),
    url("@/assets/fonts/FiraSans/FiraSans-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
