@import url("assets/fonts/Poppins/font.css");
@import url("assets/fonts/FiraSans/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    @apply text-slate-300;
}

.content-container {
    overflow: auto;
    width: 100vw;
    max-width: 100vw;
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);
}

/*
 * sf-dump styles :)
 */
.sf-dump {
    @apply rounded w-full p-3 text-sm bg-gray-100 !important;
    @apply text-orange-500 !important;
}

.sf-dump .sf-dump-protected, .sf-dump .sf-dump-private, .sf-dump .sf-dump-public {
    @apply text-orange-500 !important;
}

.sf-dump .sf-dump-default {
    @apply  bg-gray-100 !important;
}
